$color-fondos:#F55;
$color-tit:#ccc;

h1. title {
  background-color:$color-fondos;
  color:$color-tit;
}

ul{
	list-style:none;
	li{
		padding:15px;
		display:inline-block;
			a{
				text-decoration:none;
				font-size:18px;
				color:green;
			}
	}
}

section{
		width:;
	p{
	
}
}
